<p id="notice"><%= notice %></p>

<h1>Spr People</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Document</th>      
      <th>First name</th>
      <th>Second name</th>
      <th>First last name</th>
      <th>Second last name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @spr_people.each do |spr_person| %>
      <tr>
        <td><%= spr_person.Document_type %></td>
        <td><%= spr_person.document %></td>        
        <td><%= spr_person.first_name %></td>
        <td><%= spr_person.second_name %></td>
        <td><%= spr_person.first_last_name %></td>
        <td><%= spr_person.second_last_name %></td>        
        <td><%= link_to 'Show', spr_person %></td>
        <td><%= link_to 'Edit', edit_spr_person_path(spr_person) %></td>
        <td><%= link_to 'Destroy', spr_person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Spr Person', new_spr_person_path %>
