<p id="notice"><%= notice %></p>

<h1>Advances</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Unity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @advances.each do |advance| %>
      <tr>
        <td><%= advance.description %></td>
        <td><%= advance.unity %></td>
        <td><%= link_to 'Show', advance %></td>
        <td><%= link_to 'Edit', edit_advance_path(advance) %></td>
        <td><%= link_to 'Destroy', advance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Advance', new_advance_path %>
