<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @advance.description %>
</p>

<p>
  <strong>Unity:</strong>
  <%= @advance.unity %>
</p>

<%= link_to 'Edit', edit_advance_path(@advance) %> |
<%= link_to 'Back', advances_path %>
