<p id="notice"><%= notice %></p>

<p>
  <strong>Registry date:</strong>
  <%= @registry.registry_date %>
</p>

<p>
  <strong>Group:</strong>
  <%= @registry.group %>
</p>

<p>
  <strong>Charge:</strong>
  <%= @registry.charge %>
</p>

<p>
  <strong>Unity:</strong>
  <%= @registry.unity %>
</p>

<p>
  <strong>Adult:</strong>
  <%= @registry.adult %>
</p>

<p>
  <strong>Program receptor:</strong>
  <%= @registry.program_receptor %>
</p>

<%= link_to 'Edit', edit_registry_path(@registry) %> |
<%= link_to 'Back', registries_path %>
