<%= form_for(training_workshop) do |f| %>
  <% if training_workshop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(training_workshop.errors.count, "error") %> prohibited this training_workshop from being saved:</h2>

      <ul>
      <% training_workshop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
